:root {
    --primary-color: #313131;
    --secondary-color: #793796;
    --terciary-color: #790c96;
    --primary-text: #ffffff;
    --primary-padding: 10px;
    --primary-margin: 10px;
    --radius: 20px;
    --font-family: "Jetbrains Mono", monospace;
    --font-size: 1.1em;
    --box-shadow: 1px 1px 5px #1f1f1f
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

@keyframes slide-in {
    from {
        width: 0
    }
    to {
        width: 100dvw
    }
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--primary-text);
    font-family: var(--font-family);
    font-size: min(var(--font-size), 30px);
    text-align: center;
    overflow-x: hidden;
    animation-name: slide-in;
    animation-duration: 0.65s;
}

.container {
    max-width: 800px;
    padding: var(--primary-padding);
    text-align: center;
}

.title {
    margin: var(--primary-margin);
}

/*
    HEADER STYLES
    -----------------------
 */

.title-bar {
    display: flex;
    width: 100vw;
    max-height: 10%;
    justify-content: space-around;
    align-items: center;
    padding: var(--primary-padding);
    background: linear-gradient(to right, var(--secondary-color), var(--terciary-color));
    box-shadow: var(--box-shadow);
    letter-spacing: 5px;
}

.navbar {
    display: flex;
}

.navbar > ul {
    list-style: none;
}

.navbar > ul > li {
    display: inline-block;
}

.header-icon {
    max-width: 35px;
    max-height: 35px;
    padding: 5px;
}

/*
    ABOUT ME STYLES
    -----------------------
 */

.about-me-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: var(--primary-margin);
    padding: var(--primary-padding);
}

.about-me-section h1 {
    font-size: 50px;
    margin-bottom: var(--primary-margin);
}

.main-photo {
    object-fit: cover;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: var(--primary-margin);
}

.curriculum-btn {
    width: 100vw;
    max-width: 300px;
    padding: var(--primary-padding);
    border-radius: var(--radius);
    cursor: pointer;
    margin: var(--primary-margin);
    background-color: var(--terciary-color);
    color: var(--primary-text);
    font-family: var(--font-family);
}

/*
    MAIN TECHNOLOGIES STYLES
    -----------------------
 */

.skills-list {
    list-style: none;
}

.skill {
    display: inline-block;
    margin: var(--primary-margin);
}

.skill-icon {
    max-width: 45px;
    max-height: 45px;
    padding: 5px;
}

/*
    EDUCATION & EXPERIENCE
    ----------------------
 */

.experience-container {

}

.experience-container ul, li {
    list-style: none;
}

/*
    PROJECTS SECTION STYLES
    -----------------------
 */

.projects-container {
    display: flex;
    justify-content: center;
    padding: var(--primary-padding);
}

.project {
    margin: var(--primary-margin);
    text-align: center;
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project img {
    border-radius: var(--radius) var(--radius) 0 0;
    max-width: 400px;
    max-height: 400px;
}

.project p {
    padding: var(--primary-padding);
}

.project-footer {
    margin-top: 10px;
    border-radius: 0 0 var(--radius) var(--radius);
    padding: var(--primary-padding);
}

.project-footer button {
    background: none;
    color: var(--primary-text);
    cursor: pointer;
}

@media screen and (max-width: 1800px) {
    .projects-container {
        flex-direction: column;
        max-width: 100vw;
    }

    .project {
        max-width: 500px;
        height: 400px;
    }

    .project img {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .container {
        padding: 5px;
    }

    .title-bar {
        padding: 5px;
    }

    .main-logo {
        letter-spacing: 1px;
    }

    .skill-icon {
        max-width: 40px;
    }

    .projects-container {
        flex-direction: column;
        max-width: 100vw;
    }

    .project, .project img {
        max-width: 100%;
        max-height: 350px;
    }

}


