* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "EB Garamond", serif;
    font-size: min(20px, 1.05rem);
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

.about-me {
    background-color: #7F55B1;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 800px;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        max-width: 800px;
        text-align: center;


        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 24px;
        }

        img {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            object-fit: cover;
            margin: 10px
        }

        .social-media {
            display: flex;

            img {
                width: 40px;
                height: 40px;
                margin: 10px;
            }
        }

        button {
            background-color: #9B7EBD;
            padding: 10px;
            border-radius: 20px;
            width: 100vw;
            max-width: 300px;
            cursor: pointer;
            color: #f7f7f7;
        }

    }

}

.skills {
    flex-direction: column;
    width: 100%;
    min-height: 220px;
    background-color: #f7f7f7;
    padding: 10px;
    text-align: center;
    animation: slide-in-left 1s;

    h2 {
        margin: 10px;
        color: #272727;
        font-size: max(1.1rem, 32px);
    }

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style: none;
        margin-top: 10px;
    }

    p {
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 5px;
    }

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

}

.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;

    h2 {
        margin: 10px;
        color: #272727;
        font-size: max(1.1rem, 32px);
    }

    ul {
        list-style: none;
        display: flex;
    }

    div {
        padding: 5px;
        max-width: 500px;
        min-height: 250px;
        background-color: #e7e7e7;
        border-radius: 10px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        color: #272727;
        animation: fade-in-bottom 1s;
        animation-delay: 1s;

        h4 {
            font-style: italic;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
    background-color: #f7f7f7;
    padding: 10px;
    width: 100%;

    h2 {
        margin: 10px;
        color: #272727;
        font-size: max(1.1rem, 32px);
    }

    button {
        padding: 15px;
        background-color: #9B7EBD;
        color: #f7f7f7;
        font-size: max(1.1rem, 20px);
        cursor: pointer;
        border-radius: 20px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            display: flex;
            width: 600px;
            height: 450px;
            flex-direction: column;
            border-radius: 10px;
            background-color: #e7e7e7;
            margin: 10px;
            text-align: center;
            text-decoration: none;
        }

        article {
            animation: fade-in 2.5s;
        }

        p {
            margin-top: 10px;
            padding: 10px;
            color: #272727;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        li {
            background-color: #f7f7f7;
            color: #272727;
            margin: 10px;
            padding: 8px;
            border-radius: 20px;
        }

        img {
            width: 100%;
            max-height: 350px;
            border-radius: 10px 10px 0px 0px;
        }
    }
}

@media screen and (max-width: 800px) {
    .experiences {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        div {
            justify-content: space-evenly;
        }
    }


}

@media screen and (max-width: 650px) {

    .projects {

        .projects-container {

            a {
                width: 400px;
                height: 400px;
                margin-bottom: 5px;
            }

        }


    }
}

@media screen and (max-width: 400px) {
    .projects {

        .projects-container {

            a {
                width: 350px;
                height: 400px;
                margin-bottom: 5px;
            }

        }


    }

}

/* ----------------------------------------------
 * Generated by Animista on 2025-5-16 7:45:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-5-16 7:56:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

