* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: "Source Code Pro";
}

.about-me {
    background-color: #7F55B1;
    color: #f7f7f7;
    display: flex;
    justify-content: center;
    width: 100%;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        max-width: 800px;
        text-align: center;


        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 24px;
        }

        img {
            width: 350px;
            height: 350px;
            border-radius: 50%;
            object-fit: cover;
            margin: 10px
        }

        .social-media {
            display: flex;

            img {
                width: 40px;
                height: 40px;
                margin: 10px;
            }
        }

        button {
            background-color: #FFE1E0;
            padding: 10px;
            border-radius: 20px;
            width: 100vw;
            max-width: 300px;
            cursor: pointer;
        }

    }

}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 400px;
    background-color: #f7f7f7;

    h2 {
        margin: 10px;
        color: rgb(20, 20, 20);
    }

    ul {
        display: flex;
        justify-content: center;
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 5px;
    }

    img {
        width: 40px;
        height: 40px;
        cursor: pointer;
    }

}

.experiences {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;

    h2 {
        margin: 10px;
    }

    ul {
        list-style: none;
        display: flex;
    }

    div {
        padding: 5px;
        max-width: 500px;
        min-height: 200px;
        background-color: #9B7EBD;
        border-radius: 10px;
        margin: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        color: #f7f7f7;

        h4 {
            font-style: italic;
        }
    }
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 500px;
    background-color: #f7f7f7;

    h2 {
        margin: 10px;
    }

    button {
        padding: 10px;
        background-color: #9B7EBD;
        color: #f7f7f7;
        font-size: max(1.1rem, 20px);
        cursor: pointer;
        border-radius: 20px;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {
            display: flex;
            width: 600px;
            height: 450px;
            flex-direction: column;
            border-radius: 10px;
            background-color: #e7e7e7;
            margin: 15px;
            text-align: center;
            text-decoration: none;
        }

        p {
            margin-top: 10px;
            padding: 10px;
            color: #272727;
        }

        ul {
            list-style: none;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        li {
            background-color: #f7f7f7;
            color: #272727;
            margin: 10px;
            padding: 8px;
            border-radius: 20px;
        }

        img {
            max-width: 600px;
            max-height: 350px;
            border-radius: 10px 10px 0px 0px;
        }
    }
}